@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input-container{
  position: relative;
}
.input-mask{
  position: absolute;
  color: black;
  z-index: 2;
  height: 100%;
  
}

.input-item{
  position: static !important;
  z-index: 1 !important;
  
  
}

.tag{
  height: 100%;
  display: inline-block !important;
  user-select: none;
}

.tag-inner{
  height: 100%;
  border-radius: 5px;
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center；
}

.tag-text{
  display: block;
  line-height: 30px;
  

}
.cursor{
  cursor: pointer;
}

.autoComplete{
  display: block;
  background-color: rgb(236, 236, 236) !important;
  text-align: left;
  color: rgb(83, 83, 83);
  height: 40px;
  line-height: 40px;
 }



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
